pkgbase = dms-shell
	pkgver = 1.0.3
	pkgrel = 2
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	makedepends = git
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable
	depends = accountsservice
	optdepends = brightnessctl: Laptop display brightness control
	optdepends = cava: Audio visualizer
	optdepends = cliphist: Clipboard history functionality
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network management
	optdepends = qt5ct: Qt5 application theming
	optdepends = qt6ct: Qt6 application theming
	optdepends = wl-clipboard: Copy functionality for PIDs and other elements
	source = git+https://github.com/AvengeMedia/DankMaterialShell.git#tag=v1.0.3
	source = greetd-dms-greeter.install
	source = dms-greeter-path.patch
	sha256sums = a9e35f3a48564616517c594657919f2f785a0c26d9534dfee8d8fcc784ff5a6c
	sha256sums = fd72627b9b242c6b70c56acb2a8a7881d2cb5c5fe7c7edeed307eb3b223c72f0
	sha256sums = 87ca0f53f542fa5525e9775a4b2eca93f97f87dfdc8aff3b4b974022df568a37

pkgname = dms-shell
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles

pkgname = greetd-dms-greeter
	pkgdesc = DankMaterialShell greeter for greetd
	install = greetd-dms-greeter.install
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable
	depends = accountsservice
	depends = greetd
	depends = dms-shell
	optdepends = brightnessctl: Laptop display brightness control
	optdepends = cava: Audio visualizer
	optdepends = cliphist: Clipboard history functionality
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network management
	optdepends = qt5ct: Qt5 application theming
	optdepends = qt6ct: Qt6 application theming
	optdepends = wl-clipboard: Copy functionality for PIDs and other elements
	optdepends = niri: Niri compositor support
	optdepends = hyprland: Hyprland compositor support
	optdepends = sway: Sway compositor support
	optdepends = mangowc: MangoWC compositor support
	backup = etc/greetd/config.toml
