pkgbase = dsearch
	pkgdesc = Indexed filesystem search in GO
	pkgver = 0.0.7
	pkgrel = 1
	url = https://danklinux.com
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	optdepends = dms-shell
	source = git+https://github.com/AvengeMedia/danksearch.git
	sha256sums = SKIP

pkgname = dsearch
