---
name: Build PKGBUILDs
on:
  # pull_request:
  #   branches:
  #     - main
  # schedule:
  #   - cron: "35 7 * * *" # 7:35am UTC every day
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

jobs:
  build:
    name: Build PKGBUILDs
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Build PKGBUILDs
        uses: hecknt/archlinux-pkgbuilds@1e17a295e2e4f2dd37a289ef41fe0d5d362b9d43 # v0.2.0
        env:
          PACKAGER: "Hec <hec@heccraft.com>"
        with:
          repo_name: "danklinux"
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          gpg_key_data: "${{ secrets.GPG_KEY_DATA }}"
          gpg_key_id: "${{ vars.GPG_KEY_ID }}"
